<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Marcellus&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles/home_page_styles.css">
    <link rel="stylesheet" href="/styles/create_page_styles.css">
    <link rel="stylesheet" href="/styles/blog_page_styles.css">
    <link rel="stylesheet" href="/styles/update_page_styles.css">
    <title>Blogs</title>
</head>
<header>
    <div class="header">
        <h1>Blogger</h1>
        <div class="pages">
            <a href="/">Home</a>
            <a href="/create-blog">Create a Blog</a>
        </div>
    </div>
</header>

<body>
    
<main>
    <div class="main-container">